<!-- main footer -->
<!-- <div style="border: 1px solid black; width: 1525px;
height: 300px; align-items: center; justify-content: center; margin-left: -240px;"> -->
    <div class="main-footer">
        <!-- Left Section: Logo, Description & Social Icons -->
        <div class="footer-info">
            <img src="logo-last.png" alt="" width="200px" height="60px">
            <p>We at ProAdvizar offer a wide range of Residential & Commercial real<br>
                estate services across Navi Mumbai.</p>
            <div class="social-icons">
                <span><i class="fa-brands fa-facebook-f social-networks"></i></span>
                <span><i class="fa-brands fa-instagram social-networks"></i></span>
                <span><i class="fa-brands fa-linkedin social-networks"></i></span>
                <span><i class="fa-brands fa-x-twitter social-networks"></i></span>
                <span><i class="fa-brands fa-youtube social-networks"></i></span>
            </div>
        </div>

        <!-- Right Section: Quick Links & Address -->
        <div class="footer-container">
            <!-- Quick Links Section -->
            <div class="quick-links">
                <span><b>QUICK LINKS</b></span>
                <ul class="ulclass">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Projects</a></li>
                    <li><a href="">Insights</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Privacy & Policy</a></li>
                </ul>
            </div>

            <!-- Address & Contact Section -->
            <div class="address-contact">
                <span><b>ADDRESS</b></span>
                <p style="margin-top: 20px; margin-bottom: 20px; font-size: 14px;">ABC, Office No-4,
                    Ground
                    Floor,<br>
                    Sector-17, Behind Income Tax Office,<br>
                    Khanda Colony, Panvel Navi<br>
                    Mumbai-410210.</p>

                <span><b>CONTACT</b></span>
                <p style="margin-top: 5px; font-size: 14px;">+91 8883688890</p>
                <p style="margin-top: -11px; font-size: 14px;">info&#64;proadvizarrealestate.in</p>
            </div>
        </div>
    </div>
<!-- </div> -->