<nav>
    <!-- Left Side: Logo -->
    <div class="logo">
        <img src="logo.png" alt="Logo">
    </div>

    <!-- Center: Navigation Links -->
    <div class="nav-links">
        <a routerLink="/listing">For Property</a>
        <a href="">About Us</a>
        <a href="">Insights</a>
        <a href="">Contact Us</a>
    </div>

    <!-- Right Side: Button, Avatar, Burger Menu -->
    <div class="nav-right">
        <div class="btn">
            <a routerLink="/customize">
                <button> <img src="pluss.png" alt="Icon" class="btn-icon">Customize Property</button></a>
        </div>
        <div class="avatar">
            <img src="avatar.png" alt="Avatar">
        </div>

        <div class="burger-menu" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</nav>